.CMass-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3vh 1vw 2vh;
    }
  
    .CMass-span {
      margin-right:12vw;
      display: flex;
      margin-top: 2vh;
      width: 60vw;
      max-width: 60vw;
      flex-direction: column;
    }
    .CMass-div {
      align-self: stretch;
      display: flex;
      align-items: start;
      justify-content: space-between;
      gap: 5vw;
    }
    .CMass-div2 {
      display: flex;
      margin-top: 1vh;
      flex-direction: column;
    }
    .date-selector{
      margin-bottom: 5vh;
    }
    .CMass-span2 {
      display: flex;
      align-items: center;
      gap: 2vw;
    }
    .CMass-id {
      color: #ffffff;
      text-align: center;
      margin: auto 0;
      font: 400 3.5vh Nunito, sans-serif;
    }
    .CMass-div3 {
      border-radius: 60vw;
      border: 1px solid #ffffff;
      background-color: #1B1B1B;
      align-self: stretch;
      display: flex;
      width: 8vw;
      height:4vh;
      flex-direction: column;
    }
    .CMass-div4 {
      display: flex;
      flex-direction: column;
      color: #ffffff;
      text-align: center;
      position: relative;
      fill: #1B1B1B;
      stroke: #ffffff;
      overflow: hidden;
      align-self: stretch;
      aspect-ratio: 3.05;
      justify-content: center;
      padding: 2vw 4vh;
      font: 400 24px Nunito, sans-serif;
    }
    .CMass-search {
      position: absolute;
      inset: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
    .CMass-range{
      display:flex;
      justify-content: space-between;
      gap: 0.5vw;
      width: 20vw;
      padding: 0.5vw;
    }
    .CMass-filters{
      display:flex;
      width: 30vw;
      justify-content: space-between;
    }
    .CMass-grid{
      display: grid;
      grid-template-columns: repeat(5,5vw);
      gap:1.5vw;
    }
    .CMass-node{
      display:flex;
      align-items: center;
      justify-content: center;
      height: 5vh;
      font-size:2vw;
      cursor: pointer;
      border: 0.2vw solid #ffffff;
    }
    .CMass-node:hover{
      background-color:lightgray;
    }
    .Carbon-chart-container {
      display: flex;
      flex-direction: column;
      align-items: start;
    }
    .Carbon-distribution {
      color: #ffffff;
      text-align: center;
     max-width: 38vw;
      font: 900 3.5vh Nunito, sans-serif;
    }
  
    .Carbon-chart {
      aspect-ratio: 1.4;
      object-fit: contain;
      object-position: center;
      width: 38vw;
      overflow: hidden;
      max-width: 38vw;
      margin-top: 5vh;
    }