.titleDiv{
    display: block;
    margin: 0vw;
    color:#ffffff;
    background-color: #1B1B1B;
}
.title{
    font-size: 300%;
    color:#ffffff;
    background-color: #1B1B1B;
}
.tabs{
    display:flex;
    border-top: 3px #989898 solid;
    .separator{
        width: 0.2vw;
        background-color:black;
    }
    .opt1 {
        color: #fff;
        flex:1;
        text-align: center;
        background-color: #6c6c6c;
        justify-content: center;
        align-items: center;
        padding: 1vh 8.5vw;
        font: 900 3.5vh Nunito, sans-serif;
    }
    .opt2 {
        color: #fff;
        flex:1;
        text-align: center;
        background-color: #231f20;
        justify-content: center;
        align-items: center;
        padding: 1vh 8.5vw;
        font: 900 3.5vh Nunito, sans-serif;
    }
}